﻿
	    	  <img id="logo" alt="logo_Harley" src="imagenes/logo_harley.png" />
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				  <a class="navbar-brand" href="index.html"><i class="fa fa-home fa-3x"></i>Inicio</a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarNavDropdown">
				    <ul class="navbar-nav">
				      <li class="nav-item active">
				        <a class="nav-link" href="#"><i class="fa fa-address-book fa-3x"></i>Contacto <span class="sr-only">(current)</span></a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#"><i class="fa fa-shield fa-3x"></i>Equipamiento</a>
				      </li>
				      
				      <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				        <i class="fa fa-motorcycle fa-3x"></i>Modelos
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				          <a class="dropdown-item" href="modelos.html">Motocicletas</a>
				          <a class="dropdown-item" href="electricas.html">Eléctrico</a>
				          <a class="dropdown-item" href="futuros.html">Futuros Vehículos</a>
				        </div>
				      </li>
				    </ul>
				  </div>
				   <form class="form-inline">
					    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
					    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>
			</nav>
	
