
.contenedor{
		display:grid;
		grid-template-rows: 1fr 10fr 1fr;
  		grid-template-columns: 5fr 8fr;
		grid-template-areas: "logo nav"
                               "article article"
                               "section section"
                                     "footer footer";	
		max-width:2400px;
		margin:0 auto;
		color:white;
		height:100vh;
                    /*gap:20px;*/
		justify-content: space-around;		
}
#logo{
	grid-area:logo;
	background-color:black;	
	height:100%;
	width:20%;
}
#inicio{
	height:110px;
}
#contacto{
	background-color:black;	
	height:110px;
}
#modelos{
	background-color:black;	
	height:110px;
}

#ropa{
	background-color:black;	
	height:110px;
}
#clasicos{
	background-color:black;	
	height:110px;
}
article{
	grid-area:article;
	background-color:white;
	color:black;
	font-size:50px;
	align-items:center;
	text-align:center;
	width:100%;
        padding-top:15px;
	
}

section{
	grid-area:section;
	background-color:white;
		
}
footer{
	grid-area:footer;
	background:black;
	display:inline-flex;
	justify-content:space-around;
	background-image:url('imagenes/footer.jpg');
    opacity:0.8;
	background-repeat:no-repeat;
	background-size: 100%;
	background-attachment: fixed;
    background-position: center top;
}

img#logo{
	width:100%;
}
i,a {
	padding-top:50px;
	padding-left:20px;
	cursor:pointer;
	margin-left: 20px;
	padding:20px;	
}

i:hover,a:hover{
	color:red !important;
	
}

footer a{
    margin-top:20px;
    padding:0px;
    color:#003399;
    font-weight: bold;
}

i>span{
	
	font-size:25px;
	margin-left:15px;
	padding:20px;
}

.navbar{
	grid-area:nav;
	width: 1530px;
	
}
.navbar-link,.nav-link {
	color:white;

}
.carousel-inner img {
    width: 100%;
    max-height: 600px;
}

.carousel-inner{
	margin-top:30px;
	margin-left:40px;
	width:95%;
 	height: 800px;
}
span#fb1{
	
	font-family:Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size:32px;
	color:white;
	text-align:center;
}
.contenedor-fb1{
	display:block;
}
.contenedor-fb2,.contenedor-fb3{
	display:flex;
}
.contenedor-fb2 span,.contenedor-fb2 a,.contenedor-fb3 a{
	
	display:block;
}
.contenedor-redes i{
    padding:0; 
}

.contenedor-animacion{
    background-image:url('imagenes/carretera_animada.png');
    
    background-size: contain;
    opacity: 0.7;
    width: 100%;
    height: 70px;
    z-index:1;
}

.moto-animada{
    position:relative;
    animation:movimiento 3s linear infinite;
    margin-left:-1700px;       
}



@keyframes movimiento{
    
   /*0%{transform:translate(0px,0px) rotate(0deg);}  */
    30%{transform:translate(200px,0px) rotate(-15deg);}
    /*60%{transform:translate(400px,0px) rotate(-20deg);} */
     80%{transform:translate(800px,0px) rotate(0deg);} 
  
  100%{transform: translate(1960px,0px) rotate(35deg); } 
 
}


.dropdown-item{
	width: 15em;
}

